<header
  class="md-header"
  data-md-component="header"
  style="box-shadow: none; background-color: white; color: black;"
>
  <!-- Top-level navigation -->
  <nav class="md-header-nav md-grid">
    <div class="md-flex">
      <!-- Link to home -->
      <div class="md-flex__cell md-flex__cell--shrink">
        <a
          href="{{ config.site_url | default(nav.homepage.url, true) | url }}"
          title="{{ config.site_name }}"
          class="md-header-nav__button md-logo"
        >
          {% if config.theme.logo.icon %}
          <i class="md-icon">{{ config.theme.logo.icon }}</i>
          {% else %}
          <img
            src="{{ config.theme.logo | url }}"
            height="72"
            width="auto"
            style="background-color: white; margin-top: -8px;"
          />
          {% endif %}
        </a>
      </div>

      <!-- Button to toggle drawer -->
      <div class="md-flex__cell md-flex__cell--shrink">
        <label
          class="md-icon md-icon--menu md-header-nav__button"
          for="__drawer"
        ></label>
      </div>

      <!-- Header title -->
      <div class="md-flex__cell md-flex__cell--stretch">
        <div
          class="md-flex__ellipsis md-header-nav__title"
          data-md-component="title"
        >
          {% if config.site_name == page.title %}
          {{ config.site_name }}
          {% else %}
          <span class="md-header-nav__topic">
            {{ config.site_name }}
          </span>
          <span class="md-header-nav__topic">
            {% if page and page.meta and page.meta.title %}
            {{ page.meta.title }}
            {% else %}
            {{ page.title }}
            {% endif %}
          </span>
          {% endif %}
        </div>
      </div>

      <!-- Button to open search dialogue -->
      <div class="md-flex__cell md-flex__cell--shrink">
        {% if "search" in config["plugins"] %}
        <label
          class="md-icon md-icon--search md-header-nav__button"
          for="__search"
        ></label>

        <!-- Search interface -->
        {% include "partials/search.html" %} {% endif %}
      </div>

      <!-- Repository containing source -->
      {% if config.repo_url %}
      <div class="md-flex__cell md-flex__cell--shrink">
        <div class="md-header-nav__source">
          {% include "partials/source.html" %}
        </div>
      </div>
      {% endif %}
    </div>
  </nav>
</header>
