{% import "partials/language.html" as lang with context %}

<!-- Search interface -->
<div class="md-search" data-md-component="search" role="dialog">
  <label class="md-search__overlay" for="__search"></label>
  <div class="md-search__inner" role="search">
    <form class="md-search__form" name="search">
      <input
        type="text"
        class="md-search__input"
        name="query"
        placeholder="{{ lang.t('search.placeholder') }}"
        autocapitalize="off"
        autocorrect="off"
        autocomplete="off"
        spellcheck="false"
        data-md-component="query"
        data-md-state="active"
      />
      <label class="md-icon md-search__icon" for="__search"></label>
      <button
        type="reset"
        class="md-icon md-search__icon"
        data-md-component="reset"
        tabindex="-1"
      >
        &#xE5CD;
        <!-- close -->
      </button>
    </form>
    <div class="md-search__output">
      <div class="md-search__scrollwrap" data-md-scrollfix>
        <div class="md-search-result" data-md-component="result">
          <div class="md-search-result__meta">
            {{ lang.t("search.result.placeholder") }}
          </div>
          <ol class="md-search-result__list"></ol>
        </div>
      </div>
    </div>
  </div>
</div>
